.svn
.hgsvn
ext/*
*.xpr
*.patch
.pmd
.fbprefs
Servers
.idea
.project
.ruleset
#${*}
.classpath
.settings
.springBeans
*.iml
target/
bin
.metadata
.checkstyle
*.log
cobertura.ser
velocity.log*
*~
format-me.*
.DS_Store
*.ipr
*.iws
doc/dita/*
*.swp
*.swo
tags
dita/*
project/boot/
*.user
*/*/obj/*
*.suo
_ReSharper*
git/svnauthors

